<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
<!-- 		<meta content="width=device-width, initial-scale=1.0" name="viewport"> -->
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
		<meta content="Willy du Preez" name="author">
		<meta content="" name="description">

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="/comp/snap.js-1.9.3/snap.js"></script>
		<link rel="stylesheet" type="text/css" href="/comp/snap.js-1.9.3/snap.css">

		<link rel="stylesheet" type="text/css" href="/css/article.css">

<!-- 		<link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" type="text/css" rel="stylesheet" /> -->
<!-- 		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script> -->

		<!--[if lt IE 9]>
		   <script>
		      document.createElement('header');
		      document.createElement('nav');
		      document.createElement('section');
		      document.createElement('article');
		      document.createElement('aside');
		      document.createElement('footer');
		   </script>
		<![endif]-->

		<script type="text/javascript">

			// TODO Google Analytics Template

		</script>

	</head>
	<body>

		<nav id="toggle-menu" class="toggle-menu">
			<a href="#" id="open-left">
				<svg>
					<path d="M0,6 30,6" stroke="#000" stroke-width="4"/>
					<path d="M0,16 30,16" stroke="#000" stroke-width="4"/>
					<path d="M0,26 30,26" stroke="#000" stroke-width="4"/>
				</svg>
			</a>
		</nav>

		<div id="content" class="snap-content">

			<article id="article">
				${content}
			</article>

			<footer class="page-footer">
				<hr class="fade" />
				<span>Copyright &copy; 2014 Willy du Preez</span>
			</footer>
		</div>

		<div class="snap-drawers">
			<div class="snap-drawer snap-drawer-left">
				<div>
					<nav>
						<h4></h4>
						<h4>Menu</h4>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/articles">Articles</a></li>
							<li><a href="/about">About</a></li>
						</ul>
						<h4>Articles</h4>
						<ul>
							<li><a href="/articles/java">Java</a></li>
							<li><a href="/articles/javascript">JavaScript</a></li>
							<li><a href="/articles/networking">Networking</a></li>
							<li><a href="/articles/osgi">OSGi</a></li>
							<li><a href="/articles/php">PHP</a></li>
							<li><a href="/articles/scala">Scala</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/articles.js"></script>

	</body>
</html>