<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="Willy du Preez" name="author">
		<meta content="" name="description">

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="/comp/jquery-2.1.1/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/comp/sidebar-0.2.0/sidebar.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/comp/sidebar-0.2.0/sidebar.min.css">

		<link rel="stylesheet" type="text/css" href="/css/article.css">

<!-- 		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->

<!-- 		<link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" type="text/css" rel="stylesheet" /> -->
<!-- 		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script> -->

		<!--[if lt IE 9]>
		   <script>
		      document.createElement('header');
		      document.createElement('nav');
		      document.createElement('section');
		      document.createElement('article');
		      document.createElement('aside');
		      document.createElement('footer');
		   </script>
		<![endif]-->

		<script type="text/javascript">

			// TODO Google Analytics Template

		</script>

	</head>
	<body>

		<div class="wrapper jsc-sidebar-content jsc-sidebar-pulled">
			<nav>
				<a href="#" class="icon-menu jsc-sidebar-trigger">&#9776;</a>
			</nav>

<!-- 			<header> -->
<!-- 				<div id="container"> -->
<!-- 					<div id="nav" > -->
<!-- 						<a href="/"> -->
<!-- 							HOME -->
<!-- 						</a> -->
<!-- 						&nbsp; -->
<!-- 	                    <ul class="categories-menu"> -->
<!-- 	                        <li>CATEGORIES <span>&#9445;</span> -->
<!-- 	                            <ul> -->
<!-- 	                                <li><a href="networking.html">Networking</a></li> -->
<!-- 	                                <li><a href="osgi.html">OSGi</a></li> -->
<!-- 	                            </ul> -->
<!-- 	                        </li> -->
<!-- 	                    </ul> -->
<!-- 					</div> -->
<!-- 					</div> -->
<!-- 				<br /> -->
<!-- 			</header> -->

			<article id="article">
				${content}
			</article>

			<footer class="page-footer">
				<hr class="fade" />
				<span>Copyright &copy; 2014 Willy du Preez</span>
			</footer>
		</div>

		<nav class="sidebar jsc-sidebar" id="jsi-nav" data-sidebar-options="">
			<ul class="sidebar-list">
				<li><a href="./" class="current">Item one</a></li>
				<li><a href="http://github.com/makotot/sidebar/">Item two</a></li>
				<li><a href="http://github.com/makotot/sidebar/releases">Item three</a></li>
			</ul>
		</nav>

		<script type="text/javascript" src="/js/articles.js"></script>

	</body>
</html>