/* ========================================
	Styling for the articles index page
   ======================================== */

/* ----------------------------------------
	IE8 fixes
   ---------------------------------------- */
header, nav, section, article, aside, footer {
   display:block;
}

/* ----------------------------------------
	Base Style
   ---------------------------------------- */

html, body {
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	background-color: #FFF;
	color: #333333;
}

footer.page-footer {
	font-size: 0.75em;
	padding-bottom: 10px;
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

div.container {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
}

/* ----------------------------------------
	Headings
   ---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 { font-size:2.5em; }
h2 { font-size:2em;  border-bottom: 1px solid #CCC; padding-bottom: 10px; }
h3 { font-size:1.5em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size:0.9em; }

/* ----------------------------------------
	Links
   ---------------------------------------- */
a, a:link {
	color: #0645ad;
	text-decoration:none;
}

a:visited { color: #660099; }
a:hover { color: #0645ad; }
a:active { color:#ff4422; }
a:focus { outline: thin dotted; colour: #faa700 }
a:hover, a:active { outline: 0; }

/* ----------------------------------------
	Elements
   ---------------------------------------- */

@media only screen and (min-width: 480px) {
	body {
		font-size:14px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size:16px;
	}
}

@media print {
	body {
		font-size:13pt; max-width:80%;
	}
	a, a:visited {
		text-decoration: underline;
	}
	@page :left {
		margin: 15mm 20mm 15mm 10mm;
	}
	@page :right {
		margin: 15mm 10mm 15mm 20mm;
	}
	p, h2, h3 {
		orphans: 3; widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}