/* ========================================
	Styling for individual articles
   ======================================== */

/* ----------------------------------------
	IE8 fixes
   ---------------------------------------- */
header, nav, section, article, aside, footer {
   display:block;
}

/* ----------------------------------------
	Base Style
   ---------------------------------------- */

html, body {
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	background-color: #fff;/* 515151 */
	color: #333333;
}

div#container {
	width: 75%;
	margin: 0 auto;
}

footer.page-footer {
	font-size: 0.75em;
	padding-bottom: 10px;
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

article#article {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
}

/* ----------------------------------------
	Headings
   ---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 { font-size:2.5em; }
h2 { font-size:2em;  border-bottom: 1px solid #CCC; padding-bottom: 10px; }
h3 { font-size:1.5em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size:0.9em; }

/* ----------------------------------------
	Links
   ---------------------------------------- */
#article a, a:link {
	color: #0645ad;
	text-decoration:none;
}

#article a:visited { color: #660099; }
#article a:hover { color: #0645ad; }
#article a:active { color:#ff4422; }
#article a:focus { outline: thin dotted; colour: #faa700 }
#article a:hover, a:active { outline: 0; }

/* ::-moz-selection { background:rgba(255,255,0,0.3);color:#000 } */
/* ::selection { background:rgba(255,255,0,0.3);color:#000 } */

/* a::-moz-selection { background:rgba(255,255,0,0.3);color:#0645ad } */
/* a::selection { background:rgba(255,255,0,0.3);color:#0645ad } */

/* ----------------------------------------
	Elements
   ---------------------------------------- */

#article p {
	text-align: justify;
}

#article blockquote {
	background-color: #EAEAEA;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left-color: #E0E0E0;
	border-left-style: solid;
	border-left-width: 10px;
	font-size: 14px;
	line-height: 20px;
	padding: 0.1em 1em 0.1em 3em;
	text-align: justify;
	margin-right: 0;
}

#article img {
	max-width:100%;
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

/* ----------------------------------------
	Tables
   ---------------------------------------- */
#article table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#article td {
	vertical-align: top;
}

#article table th {
	background-color: #f8f8f8;
	font-weight: 700;
}

#article table th, #article table td {
	border: 1px solid #ccc;
	padding: 6px 13px;
}

#article table tr {
	border-top: 1px solid #ccc;
	background-color: #fff;
}

/* #article table tr:nth-child(2n) { */
/* 	background-color: #f8f8f8; */
/* } */

/* ----------------------------------------
	Code Blocks
   ---------------------------------------- */
pre, code, tt {
	font-size: 0.98em;
	font-size: 13px;
	line-height: 19px;
	font-family: Consolas, Courier, Monospace;
}

code, tt {
	margin: 0px;
	padding: 2px;
	white-space: pre-wrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre {
	background-color: #fafafa;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre code, pre tt {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
	border: none;
	background: transparent;
}

/* ----------------------------------------
	Sidebar and overrides
   ---------------------------------------- */

nav.toggle-menu {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0;
	z-index: 3;
}

nav.toggle-menu a,
nav.toggle-menu a:hover,
nav.toggle-menu a:active,
nav.toggle-menu a:focus,
nav.toggle-menu a:link {
	text-decoration: none;
	outline: 0;
	margin: 5px;
	padding: 5px;
}

nav.toggle-menu a svg {
	width: 30px;
	height: 30px;
}

.snap-content {
	background-color: #fff;
}

.snap-drawers {
	background: #515151;
}

.snap-drawer {
	background: #515151;
}

.snap-drawer h3 {
	font-size: 36px;
	font-weight: normal;
	margin: 15px;
}

.snap-drawer h4 {
	color: #fff;
	padding: 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 0;
	margin-top: 0;
}

.snap-drawer ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.snap-drawer li > a {
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 15px;
	text-decoration: none;
	color: #ccc;
	text-indent: 20px;
}

.snap-drawer li a:hover {
	background-color: #424242;
}

.snap-drawer li .current {
	background-color: #51648b;
}

.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: 12px;
}

/* ----------------------------------------
	Media configuration
   ---------------------------------------- */

@media only screen and (min-width: 480px) {
	body {
		font-size:14px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size:16px;
	}
}

@media print {
	body {
		font-size:13pt; max-width:80%;
	}
	a, a:visited {
		text-decoration: underline;
	}
	@page :left {
		margin: 15mm 20mm 15mm 10mm;
	}
	@page :right {
		margin: 15mm 10mm 15mm 20mm;
	}
	p, h2, h3 {
		orphans: 3; widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}