/* ========================================
	Styling for the articles index page
   ======================================== */

/* ----------------------------------------
	IE8 fixes
   ---------------------------------------- */
header, nav, section, article, aside, footer {
   display:block;
}

/* ----------------------------------------
	Base Style
   ---------------------------------------- */

html, body {
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	background-color: #FFF;
	color: #333333;
}

footer.page-footer {
	float: right;
	min-width:100%;
	max-width:100%;
	font-size: 0.75em;
	padding-bottom: 10px;
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

footer hr {
	border: none;
	height: 1px;
    color: #ddd;
    background-color: #ddd;
}

div.container {
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 20px;
/* 	width: 60%; */
	min-width: 300px;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

div.box {
/* 	float: left; */
	display:inline-block;
	font-size: 2em;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	width: 240px;
	height: 240px;
	line-height: 240px;
	margin: 20px;
	padding: 20px;
}

/* ----------------------------------------
	Colours
   ---------------------------------------- */

.blue 	{ background-color: #1570a6; 	}
.yellow { background-color: #fcd116; 	}
.teal 	{ background-color: #00b294; 	}
.purple { background-color: #7b4f9d; 	}
.green 	{ background-color: #2A9C2A;	}
.red 	{ background-color: #DA3B01; 	}
.grey 	{ background-color: grey; 		}

.blue:hover		{ background-color: #5AA3CE; 	}
.yellow:hover 	{ background-color: #FCDE5C; 	}
.teal:hover 	{ background-color: #70CCBD; 	}
.purple:hover 	{ background-color: #987EAC; 	}
.green:hover 	{ background-color: #62C762;	}
.red:hover 		{ background-color: #F38056; 	}
.grey:hover 	{ background-color: grey; 		}

/* ----------------------------------------
	Headings
   ---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 { font-size:2.5em; }
h2 { font-size:2em;  border-bottom: 1px solid #CCC; padding-bottom: 10px; }
h3 { font-size:1.5em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size:0.9em; }

/* ----------------------------------------
	Links
   ---------------------------------------- */
/* a, a:link { */
/* 	color: #0645ad; */
/* 	text-decoration:none; */
/* } */

/* a:visited { color: #660099; } */
/* a:hover { color: #0645ad; } */
/* a:active { color:#ff4422; } */
/* a:focus { outline: thin dotted; colour: #faa700 } */
/* a:hover, a:active { outline: 0; } */
a {
	text-decoration: none;
	border: none;
	width: 0px;
	height: 0px;
}

/* ----------------------------------------
	Elements
   ---------------------------------------- */

@media only screen and (min-width: 480px) {
	body {
		font-size:14px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size:16px;
	}
}

@media print {
	body {
		font-size:13pt; max-width:80%;
	}
	a, a:visited {
		text-decoration: underline;
	}
	@page :left {
		margin: 15mm 20mm 15mm 10mm;
	}
	@page :right {
		margin: 15mm 10mm 15mm 20mm;
	}
	p, h2, h3 {
		orphans: 3; widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}